amqp==2.2.1
Babel==2.5.0
billiard==3.5.0.3
celery==4.1.0
click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
MarkupSafe==1.0
pytz==2017.2
redis==2.10.6
tornado==4.5.2
vine==1.1.4
Werkzeug==0.12.2
